NEXT_PUBLIC_API_URL="http://192.168.68.188:8083/"
NEXT_PUBLIC_API_URL_IMAGE="http://192.168.68.188:8083/"
NEXT_PUBLIC_IMAGE_DOMAINS=localhost,tailwindcss.com,192.168.68.188,https://images.unsplash.com,images.unsplash.com